/* FOND PRAIRIE */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background-image: url("image/prairie.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CONTAINER (couleur prairie plus jaune) */
.login-box {
  position: relative;
  width: 350px;
  margin: 200px auto 0 auto;
  padding: 30px;
  background: rgba(224, 221, 12, 0.92); /* vert-jaune naturel */
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  text-align: center;
  z-index: 5; /* au-dessus de la tête */
}

/* TÊTE (derrière le container) */
.goat-head {
  position: absolute;
  top: 30px; /* remonte la tête */
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  z-index: 1; /* derrière le container */
}

.goat-head img {
  width: 100%;
  height: auto;
}

/* SABOTS (devant le container) */
.goat-feet {
  position: absolute;
  top: 160px; /* colle les sabots juste devant */
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  z-index: 20; /* devant tout */
}

.goat-feet img {
  width: 100%;
  height: auto;
}
